<nav>
  <div class="container">
    <div class="nav-wrapper">
      <!-- ლოგო და მთავარ გვერდზე მისამართი -->
      <a routerLink="/home" class="brand-logo">ჩემი აპლიკაცია</a>

      <ul class="nav-links">
        <li><a routerLink="/home">მთავარი</a></li>

        <!-- თუ მომხმარებელი არ არის ავტორიზებული, ვაჩვენოთ შესვლა/რეგისტრაცია -->
        <ng-container *ngIf="!userService.isLoggedIn()">
          <li><a routerLink="/login">შესვლა</a></li>
          <li><a routerLink="/register">რეგისტრაცია</a></li>
        </ng-container>

        <!-- თუ მომხმარებელი ავტორიზებულია, ვაჩვენოთ სახელი და გასვლის ღილაკი -->
        <ng-container *ngIf="userService.isLoggedIn()">
          <li>
            <a routerLink="/profile" class="username">{{ getUserName() }}</a>
          </li>
          <li><a href="#" (click)="logout($event)">გასვლა</a></li>
        </ng-container>
      </ul>
    </div>
  </div>
</nav>
